.container {
    padding: 0 2rem;
    min-width: 1150px;
}

.describingTextSize {
    font-size: 0.65em; 
}
.headlinetext {
    font-size: 0.8em;
}
.wrapper * {
    border: black solid 1px;
}

.sheet {
    padding: 3rem 0;
    flex: 1;
    justify-self: left;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:80%;
}

.top { grid-area: 1 / 1 / 2 / 6; }
.leftSide { grid-area: 2 / 1 / 6 / 2; }
.middleSide { grid-area: 2 / 2 / 6 / 3; }
.rightSide { grid-area: 2 / 3 / 6 / 4; }

.SheetTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.leftSide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.leftStatsContainer { grid-area: 1 / 1 / 5 / 2; }
.rightStatsContainer { grid-area: 1 / 2 / 5 / 4; }
.lowerStatsContainer { grid-area: 5 / 1 / 6 / 4; }

.attributesContainer {
    text-align: center;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    max-width: 300px;
  }
  
.skillBoxes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.combatSpecific {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: center;
}

.combatBoxOrder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-end;
}

.armorClassBox { 
    width: 34%;
    height: 4em;
}
.initativeBox { 
    width: 33%;
    height: 4em;
}

.speedBox {
    width: 33%;
    height: 4em;
}

.currentHPBox {
    width: 100%;
    height: 4em;
}
.temporaryHPBox {
    width: 100%;
    height: 4em;
}
.hitDiceBox {
    width: 50%;
    height: 4em;
}
.deathSavesBox {
    width: 50%;
    height: 4em;
}

.rightSide > div{
    text-align: center;
}

.centerInput{
    font-size: 1.25em;
    margin: auto;
    width: 100%;
    text-align: center;
}

.centerLabel {
    font-size: 0.8em;
    margin: auto;
    width: 50%;
}
